#import-form{
  margin-block-end: 0;
}

.export-btn,
.export-btn:hover{
  background-color: #124559;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  padding: 8px 10px;
  border-radius: 5px;
}
.sec-genre {
  color: #fff;
  min-height: 40vh;

  .search-box {
    position: relative;
  }

  .add-user-icn {
    position: absolute;
    top: 17px;
    left: 15px;
    z-index: 999;
  }

  .import {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 2px solid #3C81E8;
    background-color: #101318;
    max-width: 120px;
    border-radius: 10px;

    .import-user {
      margin-left: 20px;
      color: #3C81E8;
    }
  }

  .import-icn {
    position: absolute;
    top: 15px;
    z-index: 999;
  }

  .export {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #0a53be;
    background-color: #124559;
    max-width: 120px;
    border-radius: 10px;

    a {
      color: #fff;
      text-decoration: none;
    }

    .export-user {
      margin-left: 20px;
    }
  }

  .export-icn {
    position: absolute;
    top: 17px;
    z-index: 999;
  }

  .icon {
    margin-right: 10px;
  }

  .search-container {
    position: relative;
    width: 70%;

    .search-icon {
      position: absolute;
      top: 17px;
      right: 20px;
    }

    input[type="search"] {
      width: 100%;
      padding: 10px;
      border: 1px solid;
      background-color: #2A2D2F;
      color: #fff;
      border-radius: 10px;
    }

    ::placeholder {
      color: #6b7280;
    }

    input:focus {
      box-shadow: 0 0 5px #fff;
      outline: solid;
    }

    button {
      padding: 0;
      border: none;
    }
  }

  .table th,
  td {
    padding: 10px 26px;
    color: #fff;
  }

  .table td {
    background-color: #101318;
  }

  .table-hover tbody tr:hover td {
    background-color: #282B2D;
  }

  .add-btn {
    margin-left: 25px;
    padding: 10px;
    background-color: #124559;
    border-radius: 10px;
  }

  .add-btn a {
    color: #fff;
    text-decoration: none;
  }
}
.sec-t-activity{
  .table td {
    background-color: #101318;
  }
  .back-btn{
    background-color: #124559;
    color: #fff;
  }
}
.sec-u-activity{
  .table td {
    background-color: #101318;
  }
  .back-btn{
    background-color: #124559;
    color: #fff;
  }
}
@media (max-width: 991.98px) {

  .table th,
  td {
    padding: 10px 26px;

  }

  .search-container {
    width: 100%;
    margin-top: 10px;
  }

  .genre-ttl {
    justify-content: space-between;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }
  .sec-genre{
  th:nth-child(1),
  td:nth-child(1) {
    display: none;
  }
 }

  .add-btn {
    width: 45%;
    margin-top: 20px;
    margin-left: 0px;
  }

  .import,
  .export {
    margin-top: 20px;
  }
}

@media (max-width: 579.98px) {
  .sec-genre {
    .search-container {
      width: 100%;
    }

    .table th,
    td {
      padding: 10px 0px;
    }

    .import,
    .export {
      margin-top: 20px;

      .import-user,
      .export-user {
        margin-left: 7px;
        font-size: 13px;
      }
    }

    .search-icon {
      width: 25px;
      height: 15px;
    }

    th:nth-child(3),
    td:nth-child(3) {
      display: none;
    }

    .add-user-icn {
      top: 15px;
      left: 5px;
    }

    .add-btn {
      width: 100%;
      margin-top: 20px;
    }

    .add-btn a {
      font-size: 13px;
    }

    .icon {
      width: 10px;
      height: 10px;
    }

    .edit {
      padding: 7px 17px 7px 30px;
    }

    .edit-icon {
      right: 46px;
    }

    .delete-icon {
      right: 60px;
    }
  }
  .sec-t-activity{
    .table td {
      background-color: #101318;
    }
    .table th,
     td {
      padding: 10px 0px;
     }
    th:nth-child(2),
    td:nth-child(2) {
      display: none;
    }
    .small-font{
      font-size: 13px;
    }
    .margin-b{
      margin-bottom: 20px;
    }
  }
  .sec-u-activity{
    .small-font{
      font-size: 13px;
    }
    .margin-t{
      margin-top: 10px;
    }
  }

}
