#import-form{
  margin-block-end: 0;
}
.search {
  min-height: 40vh;

  p.result {
    margin-top: 30px;
    padding: 30px;
    background-color: #282B2D;
    color: #f1f1f1;
    font-size: 25px;
    border-radius: 10px;
  }
}

.search-user-btn .form-control::-ms-clear {
  display: none;
}

.sec-user-index {

  margin-top: 50px;
  min-height: 30vh;

  .admins-append-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .basic-info {
    width: 50%;
  }

  .add-new {
    margin-left: 30px;
  }

  .add-user {
    position: relative;
    width: 100%;
    margin-right: 30px;
    margin-left: 15px;
    padding: 10px;
    background-color: #124559;
    max-width: 120px;
    border-radius: 10px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .add-user-icn {
    position: absolute;
    top: 17px;
    left: 15px;
    z-index: 999;
  }

  .import {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 2px solid #3C81E8;
    background-color: #101318;
    max-width: 120px;
    border-radius: 10px;

    a {
      color: #3C81E8;
      text-decoration: none;
    }

    .import-user {
      margin-left: 20px;
      color: #3C81E8;
    }
  }

  .import-icn {
    position: absolute;
    top: 15px;
    z-index: 999;
  }

  .export {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #0a53be;
    background-color: #124559;
    max-width: 120px;
    border-radius: 10px;

    a {
      color: #fff;
      text-decoration: none;
    }

    .export-user {
      margin-left: 20px;
    }
  }

  .export-icn {
    position: absolute;
    top: 17px;
    z-index: 999;
  }

  .search-user-btn {
    position: relative;
  }

  .search-user-btn form {
    width: 100%;
  }

  .search-append-icon {
    position: absolute;
    top: 17px;
    right: 20px;
  }

  .input-group {
    .form-control {
      padding: 10px;
      background-color: #2a2d2f;
      color: #fff;
      border-radius: 10px;

      &::placeholder {
        color: #999;
      }

      &:focus {
        box-shadow: 0 0 5px #fff;
        outline: solid;
      }
    }
  }

  .user-show {
    a {
      cursor: pointer;
    }

    a:hover {
      background-color: #2A2D2F;
    }
  }

  th,
  td {
    padding: 10px;
  }

  .user-table {
    tbody {
      td {
        background-color: #101318;
        color: #fff;
      }
    }

    .table-dark {
      th {
        color: #707070;
      }
    }

    thead {
      border-radius: 10px;
    }

    .basic-info-text {
      margin-left: 15px;
      text-align: left;
    }


  }

  .btn-back {
    padding: 10px;
    background-color: #3C81E8;
    color: #fff;
    border-radius: 10px;
  }

  .italic-text {
    font-style: italic;
  }
}

@media (max-width: 991.98px) {
  .add-user {
    margin-top: 40px;
  }

  .import {
    margin-top: 20px;
  }

  .export {
    margin-top: 20px;
  }

  table {
    .display {
      display: none;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .italic-text {
    display: none;
  }
}

@media (max-width: 579.98px) {
  .p-none {
    padding: 0;
  }

  .sec-user-index {

    .add-user {
      margin-left: 0px;
    }

    .basic-info {
      width: 90%;
    }

    .admins-append-icon {
      width: 50px;
      border-radius: 50%;
    }

    .add-user-icn {
      top: 15px;
      left: 15px;
    }

    .add-new {
      margin-left: 18px;
    }

    .table-actions {
      .delete {
        margin-top: 10px;
      }
    }

  }

  .edit {
    margin-right: 3px;
    padding: 7px 17px 7px 40px;
  }

  .delete {
    margin: 0px;
    padding: 7px 15px 7px 30px;
  }

  th,
  td {
    padding: 0px;
  }

  .import,
  .export {
    margin-top: 56px;
  }

  .import {
    margin-left: -7px;

    .import-user {
      font-size: 13px;
    }

  }

  .italic-text {
    font-size: 13px;
  }

  .search {
    p.result {
      font-size: 13px;
    }
  }

}
